<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="connStr" connectionString="server =192.168.232.128;port=3306; user id = root; password = 111111; database = yc_test"/>
    </connectionStrings>
    
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
